header {
  background-color: #2a5529;
  border-radius: 1em;
}

.mePhoto {
  width: 200px;
  height: auto;
  float: right;
  box-shadow: 30px 30px 20px;
}
.name {
  color: white;
  text-align: center;
}
footer {
  background-color: #2a5529;
  color: white;
  text-align: center;
  border-radius: 1em;
}
a:hover {
  color: white;
}
.link {
  color: #efa9ae;
}
