header,
footer {
  padding: 1rem;
  background-color: #2a5529;
  color: white;
  text-align: center;
  border-radius: 1em;
}
header,
body,
footer {
  max-width: 750px;
  margin: 0 auto;
}
header img {
  width: 150px;
  height: auto;
  float: right;
  box-shadow: 30px 30px 20px;
}

body {
  font-size: 16px;
}

.link {
  color: #efa9ae;
}
a:hover {
  color: #917891;
}
