header,
footer {
  padding: 1rem;
  background-color: #2a5529;
  color: white;
  text-align: center;
  border-radius: 1em;
}

header img {
  width: 200px;
  height: auto;
  float: right;
  box-shadow: 30px 30px 20px;
}

body {
  font-size: 16px;
}

.name {
  color: white;
  text-align: center;
}

a:hover {
  color: white;
}
.link {
  color: #efa9ae;
}
