.header {
    background-color: #2a5529;
  }
  
  .mePhoto {
    width: 150px;
    height: auto;
    float: right;
    box-shadow: 30px 30px 20px;
  }
  .name {
    color: white;
    text-align: center;
  }
  .footer {
      background-color: #2a5529;
  }